@font-face {
    font-family: "JetBrains Mono";
url("JetBrainsMono-Regular.eot");
    src: url('JetBrainsMono-Regular.woff');
}

body {
    font-family: "JetBrains Mono", monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    width: 100%;
    font-size: 0.7em;
}

.hidden {
    display: none !important;
}

.nonClickable {
    pointer-events: none;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.appIcon {
    width: 5em;
    height: 5em;
    cursor: pointer;
}

#screenStart,
#screenShared {
    height: 90vh;
    max-width: 40vh;
    background-color: lightgray;
    position: relative;
}

#screenShared > header {
    height: 2.5vh;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

#screenShared > footer {
    height: 3vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}